/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}

* { box-sizing: border-box}

.centered, figure {
  margin: auto;
  width: 80%;
}

img {
  width: 100%;
}

:root {
  --yellow: #ffdf93;
  --red: #ffdff1;
  --blue: #E4FDE1;
  --dark: #152328;
  --script: 'Imperial Script', cursive;
  --main-font: "Inter", sans-serif;
  --title-font: "Comfortaa", sans-serif;
}
