<div class="centered">
  <h1>Les Menus</h1>
  <table>
    <thead>
      <tr>
        <th>#ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Best Seller ?</th>
        <th>Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Machin</td>
        <td>jklfdjsl jkfds jfld kmfdskfmdsflmds </td>
        <td>OUI</td>
        <td>
          <button class="delete-btn">Supprimer</button>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Machin</td>
        <td>jklfdjsl jkfds jfld kmfdskfmdsflmds </td>
        <td>OUI</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Machin</td>
        <td>jklfdjsl jkfds jfld kmfdskfmdsflmds </td>
        <td>OUI</td>
      </tr>
    </tbody>
  </table>
</div>
