<nav>
  <ul class="centered">
    <li>
      <a routerLink="/">Présentation</a>
    </li>
    <li>
      <a routerLink="/directives">Directives</a>
    </li>
    <li>
      <a routerLink="/pipes">Pipes</a>
    </li>
    <li>
      <a routerLink="/communication">Communication</a>
    </li>
    <li>
      <a routerLink="/services">Services</a>
    </li>
    <li>
      <a routerLink="/formulaires">Formulaires</a>
    </li>
    <li>
      <a routerLink="/rxjs">RXJS</a>
    </li>
    <li>
      <a routerLink="/login">Authentification</a>
    </li>

  </ul>
</nav>
