<h1>Les Services</h1>

<p>Un service est une classe qui contient un ensemble de méthodes et / ou de données.</p>
<p>Le but est de performer un ensemble de tâches, pour sortir la logique des composants :
les composants servent à afficher et ne devraient se concentrer que sur l'affichage.
</p>
<p>Pour la partie logique, on utilise les services.</p>

<p>On peut créer plusieurs services, on les diviser par sujet, par objectif.</p>

<h2>Jeux: </h2>
<ul>
  <li *ngFor="let j of games">{{j.title}}</li>
</ul>

